.selectseatpage .head {
    background-color: var(--col2);
    padding: 10px;
}

.selectseatpage {
    background-color: rgb(228, 228, 228);
    min-height: 100vh;
    width: 100%;
}

.selectseatpage .s1 {
    background-color: white;
}

.selectseatpage .head h1 {
    color: white;
    font-size: 25px;
    font-weight: 600;
}


.selectseatpage .head h3 {
    color: gray;
    font-size: 13px;
    font-weight: 600;

    border: 1px solid gray;
    padding: 5px 20px;
    border-radius: 25px;
    width: fit-content;
}














/* SEATS */
/* Style for seat type */
.selectseat {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.selectseat .indicators {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 20px;
}

.selectseat .indicators div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.selectseat .indicators div span {
    display: flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-weight: 600;
    color: white;
    padding: 0px;
    margin: 0px;
}

.selectseat .indicators div p {
    display: flex;
    font-size: 12px;
    font-weight: 600;
    color: gray;
    padding: 0px;
    margin: 0px;
}


.seat-type {
    /* border: 1px solid #ccc; */
    padding: 10px 20px;
    margin: 10px;
    background-color: #ffffff;
}

/* Style for seat type title */
.seat-type h2 {
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: 400;
    border: 1px solid #ccc;
    width: max-content;
    padding: 5px 20px;
    border-radius: 25px;
}

/* Style for seat row */
.seat-row {

    /* background-color: aqua; */
    margin: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    /* display: flex;
    border: 1px solid #ccc;
    margin: 0px;
    align-items: center;
    gap : 20px;
    padding: 0px; */
}

/* Style for row name */
.seat-row p {
    width: max-content;
    font-weight: 500;
    font-size: 12px;
    background-color: var(--col1);
    color: white;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    line-height: 0;
    padding: 0;
}

/* Style for seats container */
.seats {
    display: flex;
    padding: 0px;
}

/* Style for individual seat */
.seat-available,
.seat-unavailable,
.seat-selected {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    margin-bottom: 2px;
    background-color: #fff;
    border: 1px solid green;

}



/* Style for unavailable seats */
.seat-unavailable {
    color: #313131;
    background-color: rgb(230, 230, 230);

}

.seat-iswalkway {
    color: #fff;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    margin-bottom: 2px;
    background-color: #fff;

}

.seat-selected {
    color: white;
    background-color: var(--col1);
}

.seat-cols {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 0px;
}

.seat-col {
    display: flex;
}

.seat-available:hover {
    cursor: pointer;
    background-color: var(--col1);
    color: white;
}

.seat-unavailable:hover {
    cursor: not-allowed;
}



/* TOTAL */

.selectseat .totalcont {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-right: 28px;
    padding-left: 30px;
    padding-bottom: 12px;
    background-color: white;
    margin: 20px;
    margin-right: 0;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px #ccc;
    width: 300px;
}

.selectseat .totalcont1 {
    display: flex;
    padding-left: 0.35rem;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
    width: 300px;

}

.selectseat .totalcont .totalcont1 h2 {
    font-size: 15px;
    font-weight: 600;
    color: gray;
}

.selectseat .totalcont .totalcont1 h3 {
    font-size: 15px;
    font-weight: 600;
    color: var(--col1);
    padding-left: 12px;
    gap: 0px
}

.selectseat .totalcont .total {
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selectseat .totalcont .total h2 {
    font-size: 15px;
    font-weight: 600;
    color: gray;
}

.selectseat .totalcont .total h3 {
    font-size: 15px;
    font-weight: 600;
    padding-left: 10px;

    color: var(--col1);
}



/* time */

.selectseat .timecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px;
}

.selectseat .timecontainer .time {
    border: 2px solid #ccc;
    padding: 5px 20px;
    border-radius: 25px;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
}

.selectseat .timecontainer .selected {
    border: 2px solid var(--col1);
    color: var(--col1);
}



.column1 {
    flex: 6;
}

.column2 {
    flex: 4;
}


button {
    margin-left: px;
}

.ra {
    padding-left: 12px;
    font-size: 15px;
    font-weight: 600;

    color: var(--col1);
}

.selectseat .totalcont .totalcont1 .additional-options h3 {
    padding-left: 12px;

}

.selectseat .totalcont .totalcont1 .additional-options input {
    width: 25px;
}

.f {
    font-size: 14px;
}

.curve-line {
    width: calc(45% + 50px);
    height: 60px;
    left: 100%;
    position: static;
    display: flex;
    top: 230px;
    border-top: 2px solid #000;
    border-radius: 50%;
}

.screen-text {
    position: absolute;
    top: 31%;
    left: 50.5%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bold;
}